.nav-view {
    max-width: 257px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff; 
    .account-image {
        display: block;
    }
    .main-nav {
        overflow: auto;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .nav-list-divided {
        @include ul-style(21px 0 0 0);
        border-bottom: 1px solid #d6d5d5;
        .nav-item {
            padding-left: 23px;
            &.recent,
            &.archive {
                margin-bottom: 30px;
            }
            &.replied {
                margin-bottom: 22px;
    
            }
        }
    }
    .nav-list {
        @include ul-style($padding: 21px 21px 0 23px);
        .nav-item {
            margin-bottom: 29px;
        }
    }
    .nav-link {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        &:hover {
            .options {
                color: #b1afaf;
            }
        }
        &:focus,
        &:active {
            .options {
                color: #2196f3;
            }
        }
    }
    .nav-img-wrap {
        display: flex;
        width: 21px;
        margin-right: 34px;
    }
    .nav-image {
        width: 100%;
    }
    .options {
        font-size: 0.938em;
        &.active {
            color: #2196f3;
        }
    }
}