.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 18px;
  background-color: #eeeeee;
  color: #4d4d4e;
}

body, 
html, 
.main-content {
  height: 100%;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

%borderless-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  border-radius: 2px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #4d4d4e;
}
